<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <title>{% block title_block %}{% endblock %}</title>
  </head>
  <body>
<div class="content">
  {% block content_block %}{% endblock %}
</div>
<div class="sidebar">
  <h2>Blog</h2>
  <p>Here you can see python updation</p>
</div>
  </body>
</html>
